<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Adds all the importing of libs -->
    <%- include('../partials/Head') -%>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="">
    <header>

        <%- include('../partials/index/Header') -%>
    </header>

    <!-- Start of sidebar -->
    <%- include('../partials/index/Sidebar') -%>
        <!-- End of sidebar -->

        <!-- Task area -->

        <div class="container" id="task-box">
            <h1>Todo Tasks</h1>

            <!-- Form submit overlay -->
            <%- include('../partials/index/AddTaskModal') -%>



                <!-- Dark nav bar used for searching and adding tasks -->
                <%- include('../partials/index/TaskMenu') -%>

                <% tasks.forEach(function(task, i) { %>
                  <%- include('../partials/index/TaskModal', {modal_name:"taskModal"+i, task:task}) -%>
              <% }); %>

                    <!-- Holds all tasks -->
                    <div class="task-cards">

                        <table id="task-table" class="table table-striped tablesorter">

                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Prority</th>
                                </tr>
                            </thead>

                            <tbody>
                              <% tasks.forEach(function(task, i) { %>
                                 <td><%= task.date_created %> </td>
                                 <td><%= task.title %> </td>
                                 <td><%= task.date_due %> </td>
                                 <td><%= task.priority %> </td>
                                 <td><button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#taskModal<%=i%>">Info</button></td>
                                 <!-- Indivual task overlay -->

                             <% }); %>
                            </tbody>

                        </table>



                    </div>

        </div>

        <!-- end of task container -->
        </div>
        <!-- End of task content -->

</body>

</html>
