<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Adds all the importing of libs -->
    <%- include('../partials/head') -%>
</head>

<body class="">
    <header>

        <%- include('../partials/index/header') -%>
    </header>

    <!-- Start of sidebar -->
    <%- include('../partials/index/sidebar') -%>
        <!-- End of sidebar -->

        <!-- Task area -->

        <div class="container" id="task-box">
            <h1>Todo Tasks</h1>

            <!-- Form submit overlay -->
            <%- include('../partials/index/modal') -%>

            <!-- Indivual task overlay -->
            <%- include('../partials/index/task_modal') -%>

                <!-- Dark nav bar used for searching and adding tasks -->
                <%- include('../partials/index/task_menu') -%>

                    <!-- Holds all tasks -->
                    <div class="task-cards">

                        <table id="task-table" class="table table-striped tablesorter">

                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Prority</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% for(var i=0; i < 3; i++) { %>
                                    <tr>
                                        <th scope="row">
                                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        </th>
                                        <td> <%= i %> Take out the trash</td>
                                        <td><%= i %></td>
                                        <td>Low</td>
                                        <td><button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#taskModal">Info</button></td>

                                    </tr>
                                    <% } %>
                            </tbody>

                        </table>

                    </div>

        </div>

        <!-- end of task container -->
        </div>
        <!-- End of task content -->

</body>

</html>
