<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Adds all the importing of libs -->
    <%- include('../partials/Head') -%>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="">
    <header>

        <%- include('../partials/index/Header') -%>
    </header>

    <!-- Start of sidebar -->
    <%- include('../partials/index/Sidebar') -%>
        <!-- End of sidebar -->

        <!-- Task area -->

        <div class="container" id="task-box">
            <h1>Todo Tasks</h1>

            <!-- Form submit overlay -->
            <%- include('../partials/index/AddTaskModal') -%>




                <!-- Dark nav bar used for searching and adding tasks -->
                <%- include('../partials/index/TaskMenu') -%>

                <% tasks.forEach(function(task, i) { %>
                  <%- include('../partials/index/TaskModal', {modal_name_task:"taskModal"+i, modal_name_edit:"editModal"+i, task:task}) -%>
                  <%- include('../partials/index/EditTaskModal', {modal_name:"editModal"+i,task:task}) -%>
              <% }); %>

                    <!-- Holds all tasks -->
                    <div class="task-cards">

                        <table id="task-table" class="table table-striped tablesorter">

                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Prority</th>
                                </tr>
                            </thead>

                            <tbody>
                              <% tasks.forEach(function(task, i) { %>

                                <tr>

                                  <th scope="col">
                                    <form action="/tasks/complete" method="post">
                                      <input type="hidden" id="uid" name="uid" value="<%= task.uid %>">
                                      <input type="hidden" id="status" name="status" value="deleted">
                                      <input type="hidden" id="date_due" name="date_due" value="<%= task.date_due %>">
                                      <input type="hidden" id="description" name="status" value="<%=task.description%>">
                                      <input type="hidden" id="priority" name="priority" value="<%= task.priority %>">
                                      <input type="hidden" id="status" name="status" value="deleted">
                                      <input type="submit" value="X">
                                    </form>
                                  </th>
                                   <td><%= task.date_created %> </td>
                                   <td><%= task.title %> </td>
                                   <td><%= task.date_due %> </td>
                                   <td><%= task.priority %> </td>
                                   <td><button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#taskModal<%=i%>">Info</button></td>
                                   <td style="display: none;">asdasd</td>
                                   <!-- Indivual task overlay -->
                              </tr>
                             <% }); %>
                            </tbody>

                        </table>



                    </div>

        </div>

        <!-- end of task container -->
        </div>
        <!-- End of task content -->

</body>

</html>
